body{
    background-image: url("../image/mathematics-1044114_960_720.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
}
div{
    margin:200px;
    background-color: black;
    width: 313px;
}
input{
    width: 310px;
    height: 100px;
    border: 2px solid #9F9F9F;
    border-radius: 2px;
}
button{
    font-size: 20px;
    width:75px;
    height:50px;
    background-color: white;
    margin-top:5px;
    border: 1px solid white;
    cursor: pointer;
}

button:hover{
    background-color: #6CD6F1;
    border-color:#6CD6F1;
}
.btnC{
    color: red;
}

.btn{
    color:royalblue;
}

.btnRes{
    background-color: royalblue;
    color: white;
    border-color:royalblue ;
}
.fa-smile-wink{
    color:royalblue ;
}
.fa-backspace{
    color:royalblue ;
}

